{% extends "base.html" %}

{% block content %}
    <style>
        form {
            margin-bottom: 20px;
        }

        input[type="text"] {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        button[type="submit"] {
            padding: 8px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .center {
            text-align: center;
        }


        .produto-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .produto-card {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .produto-card h2 {
            margin-bottom: 10px;
            font-size: 20px;
        }

        .produto-card p {
            margin: 0;
        }

        .no-results {
            font-style: italic;
            color: #777;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: #007bff;
        }
        .search {
            padding-top: 15px;
            text-align: center;
        }
    </style>
    <form action="{% url 'produtos' %}" method="get" class="search">
        <input type="text" name="search" placeholder="Buscar produto..">
        <button type="submit">Buscar</button>
    </form>

    <div class="produto-grid">
        {% if produtos %}
            {% for produto in produtos %}
                <a href="{% url 'produto_detail' produto.pk %}">
                    <div class="produto-card">
                        <div class="center">
                            <h2>{{ produto.nome }}</h2>
                            <p>Quantidade: {{ produto.quantidade }} - {{ produto.medida }}</p>
                            <p>Valor Unitário: R${{ produto.valor_unidade|floatformat:2 }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                <p class="no-result">Nenhum produto encontrado.</p>
        {% endif %}
    </div>
{% endblock %}