{% extends "base.html" %}

{% block content %}
    <style>
        .func-card {
            background-color: #e3e1e1;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            transition: all 0.3s ease;
            max-width: 500px;
            margin: 20px auto 0;
            margin-bottom: 20px;
        }

        .func-card:hover {
            cursor: pointer;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            transform: translateY(-2px);
        }

        .func-card h2 {
            font-size: 1.5rem;
            margin: 10px;
        }

        .func-card p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .buttons-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            background-color: #0096c7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            margin: 0 10px;
        }

        .btn:hover {
            background-color: #108eb8;
        }

        .btn-danger {
            background-color: #b9423e;
            text-decoration: none !important;
        }

        .btn-danger:hover {
            background-color: #d2221c;
        }

        .error-message {
            color: #d9423e;
            font-size: 14px;
            margin-top: 5px;
        }

        a {
            text-decoration: none !important;
        }

        .subli {
            text-decoration: underline;
        }
    </style>
    <div class="func-card">
        <h2 class="subli">{{ object.nome }}</h2>
        <p><strong>Quantidade: </strong>{{ object.quantidade }} - {{ object.medida }}</p>
        <p><strong>Valor: </strong>R${{ object.valor_unidade }}</p>
        <p><strong>Data de Entrada: </strong>{{ object.data_entrada }}</p>
        <p><strong>Tipo: </strong>{{ object.tipo }}</p>
    </div>
    {% if user.is_superuser %}
        <div class="buttons-container">
            <a href="{% url 'editar_produto' pk=object.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'deletar_produto' pk=object.pk %}" class="btn btn-danger">Deletar</a>
        </div>
    {% else %}
        <div class="buttons-container">
            <a href="{% url 'produtos' %}" class="btn btn-primary">Voltar</a>
        </div>
    {% endif %}
{% endblock %}